<ion-header>
  <ion-toolbar>
    <ion-title>FichAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center; padding: 20px;">
    <h2>FichAPP</h2>
    <h3>Bienvenido!</h3>

    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="username" minlength="3" maxlength="8" pattern="[a-zA-Z0-9]*"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password" maxlength="4" pattern="\d*"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="login()">Ingresar</ion-button>

    <ion-text>
      <a [routerLink]="['/register']">Crea tu cuenta</a>
    </ion-text>
  </div>
</ion-content>
