<ion-header>
  <ion-title class="tituloFichAPP">FichAPP</ion-title>
</ion-header>
<ion-segment class="segment" (ionChange)="segmentChanged($event)" [scrollable]="true" value="home" [(ngModel)]="selectedSegment">
  <ion-segment-button value="home">
    <ion-icon name="home"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="briefcase">
    <ion-icon name="briefcase"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="ribbon">
    <ion-icon name="ribbon"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="exit">
    <ion-icon name="exit"></ion-icon>
  </ion-segment-button>
</ion-segment>
<ion-toolbar>
  <ion-title>Bienvenid&#64; {{ getCurrentUser() }}</ion-title>
</ion-toolbar>
<ion-content>
  <ng-container *ngComponentOutlet="getComponent()"></ng-container>
</ion-content>


